{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    {% if buy == False %}
        <form action="/buy" method="post">
            <div class="form-group">
                <input autocomplete="on" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="shares" placeholder="# of Shares" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Buy</button>
        </form>
    {% else %}
        <div class="alert alert-success" role="alert">
            Purchase successful!
        </div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Symbol</th>
                    <th>Price</th>
                    <th>Shares</th>
                    <th>Date & Time</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>{{ symbol }}</td>
                    <td>${{ price }}</td>
                    <td>{{ shares }}</td>
                    <td>{{ date }}</td>
                    <td>${{ amount }}</td>
                </tr>
            </thead>
        </table>
    {% endif %}
{% endblock %}
